/* components.css */

/* Style for the select dropdown */
select {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  appearance: none; /* Remove default arrow */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

/* Style for the options within the select dropdown */
select option {
  background-color: #2c2c2c;
  color: #ffffff;
}

/* Style for the checkbox */
input[type="checkbox"] {
  appearance: none;
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
}

input[type="checkbox"]:checked::after {
  content: '\2713';
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
